:root {
  --frame-border-size: 1px;
  --frame-border-color: black;
  --frame-border-radius: 10px;
  --circle-size: 30px;
  --circle-color: darkslategray;
  --circle-font-size: 20px;
  --pivot-circle-size: 10px;
  --pivot-background-color: red;
  --atlas-background-color: gray;
}

/* body {
  user-select: none;
} */

/* ! dropzone */

#input-file {
  display: block;
}

.file-container {
  padding: 10px;
  border: 1px solid gray;
}

#drop-zone {
  border: 2px dashed gray;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  color: gray;
}

#drop-zone:hover {
  cursor: pointer;
}

/* ! atlas */

.atlas-container {
  position: relative;
  background-color: var(--atlas-background-color);
}

.atlas-container > img {
  position: absolute;
}

.grid {
  display: grid;
  justify-content: center;
  pointer-events: none;
}

.grid.visible .frame {
  position: relative;
  box-sizing: border-box;
  border: var(--frame-border-size) dashed var(--frame-border-color);
  border-radius: var(--frame-border-radius);
}

.grid.visible .frame .circle {
  position: relative;
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: var(--circle-color);
  border-radius: 50%;
  margin: 10px;
}

.grid.visible .frame .circle span {
  display: block;
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: var(--circle-font-size);
}

.grid .frame .circle span {
  display: none;
}

.grid.visible .frame .pivot {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  width: var(--pivot-circle-size);
  height: var(--pivot-circle-size);
  background-color: var(--pivot-background-color);
}
